[Unit]
Description=Example App Service
After=network.target
Requires=actix-share-listener-sample.socket

[Service]
ExecStart=/home/dai/work/actix-share-listener-sample/target/debug/actix-share-listener-sample
Restart=always 
#Environment=LISTEN_FDS=1
#Environment=LISTEN_PID=%p

[Install]
WantedBy=multi-user.target
